<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/db7bfd8989.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <%-include('navbar.ejs') %>
    

    <div class="main">

        <% for (let i=0 ; i < data.length ; i++) { %> 
        <div class="card">
            <header>
                <img src="<%= data[i]['User.profile'] %>" alt="">  <%= data[i]['User.nickName'] %><%= data[i]['createdAt'] %>
            </header>
            <% for (let j=0; j < data[i].src.length; j++) { %>
                <% if(data[i].src[j].type == "img"){ %>
            <div class="card_image">
                <img src="<%= data[i].src[j].src %>">
            </div>
            <% } else {%>
                <video class="temp" muted autoplay loop>
                    <source src="<%= data[i].src[j].src %>" type="mp4">
                </video><br>
            <% } } %>
            <div class="info">
                <div class="info_left">
                    <i class="far fa-heart" id="like" url="<%=data[i].id %>"></i>
                    <i class="far fa-comment"></i>
                    
                </div>
                <div class="info_right">
                    <i class="far fa-bookmark"></i>
                </div>
            </div>
            <div class="comment">
                <%= data[i].content %>
            </div>
            <div class="comment_form">
                <div class="comments">
                    <div class="come">
                    
                    </div>
                </div>
                <form>
                    <input id="re" type="text" placeholder="댓글 입력..">
                    <button type="button" id="bt" url="<%=data[i].id %>">등록</button>
                </form>
            </div>
        </div>
        <% } %> 

    </div>

    
    

    
    <script src="../static/js/searchUser.js"></script>


</body>
<script>
       

        document.querySelectorAll("#bt").forEach(ele=>{
            ele.addEventListener("click",comments);
        })

        document.querySelectorAll("#like").forEach(e=>{
            e.addEventListener("click",Like);
        })

    
    function Like(event){
        var postId = event.target.getAttribute("url");

        var data = {
            postId:postId
        }
        axios({
            url:"/like/likes",
            method:"post",
            data:data
        }).then((response)=>{
            if(response.code == 200){
                alert("게시글에 좋아요 하셨습니다.");
            }
            else{
                alert("좋아요를 취소 하였습니다.");
            }
        })

    }    


    //댓글 달기    
    function comments(event){
        var pid = event.target.getAttribute("url");
        var comment = $("#re").val();

        var data = {
            pid:pid,
            comment:comment
        }
        axios({
            url:"/comment/comments",
            method:"post",
            data : data
        }).then((response)=>{
            console.log(response.data);
            $(".comments").append(`
            <div class="come">
                <img src="${response.data.profile}"> ${response.data.nickName}:${response.data.comment}
            </div>`);
        })
    }
</script>
</html>