<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
    <style>
        img{
            display: block;
            width: 100px;
            height:100px
        }
    </style>
</head>
<body>
    <%-include('navbar.ejs') %>
    <% for (let i=0 ; i < data.length ; i++) { %>
        
        <span><%= data[i]['User.nickName'] %></span>
        <p><%= data[i]['User.email'] %></p>
        <img src="<%= data[i]['User.profile'] %>" alt="">
        <img src="<%= data[i]['Postmedia.src'] %>" alt="">
        <span><%= data[i].content %></span>
        <br>
        <br>
    <% } %>
    <script src="../static/js/searchUser.js"></script>
</body>

</html>