<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/mypage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <%-include('navbar.ejs') %>
  <form>
    <div class="wrap">
      <div style="display: flex; align-items: center; height: 140px;">
        <div id="imgDiv">
          <img id="profile_img" src="<%=data.profile%>">
        </div>
        <div>
          <div><%=data.nickName %></div>
          <button type="button" id="uploadBtn" onclick="img_load();">프로필 사진 변경하기</button>
          <input style="display: none;" type="file" name="userfile" id="file_upload" onchange="fileUpload()" accept="image/gif,image/jpeg,image/png,image/jpg">
        </div>
      </div>

        <div>
          이름 <input type="text" name="name" value="<%=data.nickName %>" style="margin-left: 95px;">
          <div id="paragraph">
            <p>귀하의 전체 이름, 닉네임 또는 회사 이름과 같이 알려진 이름을 사용하여 사람들이 귀하의 계정을 찾도록 돕습니다. <br>
              이름은 14일 이내에 두 번만 변경할 수 있습니다.</p>
          </div>
        </div>

        <div style="margin-bottom: 50px;">
          소개 <input type="text" name="comment" value="<%=data.comment %>" style="margin-left: 95px;">
        </div>

        <div style="margin-bottom: 50px;">
          생년월일<input type="date" name="birth" value="<%=data.birthday %>" style="margin-left: 70px;">
        </div>
        

        <div style="margin-bottom: 50px;">
          이메일<input type="text" name="email" value="<%=data.email %>" style="margin-left: 84px;" disabled>
        </div>

        <div style="margin-bottom: 50px;">
          변경비밀번호<input class="pwInput" name="password" id="check1" type="password" placeholder="  비밀번호를 입력하세요" style="margin-left: 38px;" required>
        </div>

        <div style="margin-bottom: 50px;">
          변경비밀번호확인<input class="pwInput" name="passwordCheck" id="check2" type="password" placeholder="  비밀번호를 한번 더 입력해 주세요" style="margin-left: 8px;" oninput="checkPw();" required>
          <input id="originalPw" type="password" value="<%=data.password%>" style="display: none;">
          <div id="checkMsg"></div>
        </div>

        <div id="btnDiv">
          <button id="submitBtn" type="button" onclick="updateUser();">제출</button>
          <button id="quitBtn" type="button" onclick="deleteUser();">회원탈퇴</button>
        </div>
      </div>
    </div>
    
  </form>

  <%-include('footer.ejs') %>

  <script>
    function checkPw() {
      var pw1 = $('#check1').val();
      var pw2 = $('#check2').val();
      console.log(pw1);
      console.log(pw2);
      var msg = $('#checkMsg');

      if (pw1 == pw2) {
        msg.text('비밀번호가 일치합니다.');
        $('#submitBtn').prop("disabled", false);
      } else {
        msg.text('비밀번호가 일치하지않습니다.');
        $('#submitBtn').prop("disabled", true);
      }
    }

    function updateUser() {
      var form = document.querySelector("form");
      var data = {
        name: form.name.value,
        comment: form.comment.value,
        birthday: form.birth.value,
        password: form.passwordCheck.value
      }

      axios({
        url: "/profile/mypage/update",
        method: "post",
        data: data
      }).then((response) => {
        console.log(response);
        alert("프로필 업데이트 완료");
        $('input[name=name').attr('value', response.data.name);
        $('input[name=comment').attr('value', response.data.comment);
        $('input[name=birthday').attr('value', response.data.birthday);

      })
    }

    function img_load() {
      $("#file_upload").click();
    }

    function fileUpload() {
      const formData = new FormData(); // 파일 담아 전달할 form 생성
      const file = document.getElementById("file_upload");
      formData.append("userfile", file.files[0]); // 전달할 파일 form에 추가
      axios({
        headers: {
          "Content-Type": "multipart/form-data",
        },
        url: "/profile/mypage/fileupload",
        method: "post",
        data: formData // formData 전송
      }).then((response) => {
        var img_url = response.data.path;
        $("#profile_img").attr("src", '/' + img_url);
      })
    }

    function deleteUser() {
      axios({
        url: "/profile/deleteUser",
        method: "post",
      }).then((response) => {
        alert("삭제가 완료되었습니다.");
        location.href = "/"
      })
    }
  </script>

  <script src="../static/js/searchUser.js"></script>
</body>

</html>