<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <%-include('navbar.ejs') %>
  <!-- 상단부 -->
  <div class="head-wrap">
    <div class="profileDiv">
      <img id="profilePic" src="<%=data.profile%>">
    </div>
    <div class="infoDiv">
      <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 25px;">
        <div id="nickname"><%=data.nickName %></div>
          <% if (data.isMyprofile == true) { %>
            <form action="/profile/mypage" method="post">
              <button id="profileEditBtn">프로필 편집</button>
            </form>
          </div>
        <% } else if(data.isFollow != 0){%>
          <button onclick="unfollow();">언팔로우</button>
        <% } else { %>
          <button onclick="follow();">팔로우</button>
        <% } %>
        <div id="id" style="display: none;"><%=data.id%></div>
        <div style="display: flex; justify-content: space-around; margin-bottom: 25px;">
          <div>
            <div><span>게시물</span><span style="font-weight: bolder;"> 1</span></div>
          </div>
          <div>
            <div><span>팔로잉</span><span style="font-weight: bolder;"> <%=data.following%></span></div>
          </div>
          <div>
            <div><span>팔로워</span><span style="font-weight: bolder;"> <%=data.follower%></span></div>
          </div>
        </div>
        <div id="email"><i class="fa-regular fa-envelope"></i> <%=data.email%></div>
      </div>
  </div>
<div class="seperator"></div>
    <!-- 게시글 탭  게시글 본문 -->
    <section class="post-area">
      <div class="tabs">
        <div id="line"></div>
        <div id="posts"><i class="fa-regular fa-image"></i> POSTS</div>
        <div id="saved"><i class="fa-regular fa-bookmark"></i> SAVED</div>
      </div>
  </section>
  
  <h1>게시물</h1>
  <div class="im" style="width: 100px; height: 100px;">
    
  </div>
  <script type="text/javascript" defer src="/static/js/profile.js"></script>
  <script>
    function follow() {
      var id = $('#id').text();
      var data = {
        id: id
      }
      console.log(id);
      axios({
          url: "/profile/follow",
          method: "post",
          data: data
        })
        .then((response) => {
          window.location.href = `http://localhost:8000/profile?id=${id}`
        })
    }

    function unfollow() {
      var id = $('#id').text();
      var data = {
        id: id
      }
      console.log(id);
      axios({
          url: "/profile/unfollow",
          method: "post",
          data: data
        })
        .then((response) => {
          window.location.href = `http://localhost:8000/profile?id=${id}`
        })
    }
    
    window.onload = function()
    {

      axios({
        url:"/profile/inpost",
        method: "get"

      })
      .then((response)=>{
        var img = ``
        for (let i=0 ; i < response.data.length ; i++){
          img +=`<img src ="${response.data[i]["Postmedia.src"]}" >`
          
        }
        $(".im").append(img);
        console.log(response.data);
      })
      
    }
  
  </script>
  <script src="../static/js/searchUser.js"></script>
</body>
</html>