<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <a href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"></a>

  <style>
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80%;
      margin: auto;
    }

    .list img {
      width: 33%;
      height: auto;
    }

    .dnone {
      display: none;
    }

    .square {
      border: 0;
      width: 80px;
      padding: 0px;
      margin-top: 40px;
      margin-left: calc(50% - 40px);
      margin-left: -webkit-calc(50% - 40px);
      margin-left: -moz-calc(50% - 40px);
    }

    .spin {
      box-shadow: rgba(0, 0, 0, 0.1) 5px 4px 12px;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: dashed 5px #87c228;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
    }

    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(360deg);
      }
    }

    #bookmarkBtn {
      border: none;
      background-color: transparent;
    }
  </style>
</head>

<body>
  <%-include('navbar.ejs') %>
  <!-- 상단부 -->
  <div class="head-wrap">
    <div class="profileDiv">
      <img id="profilePic" src="<%=data.profile%>">
    </div>
    <div class="infoDiv">
      <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 25px;">
        <div id="nickname"><%=data.nickName %></div>
        <% if (data.isMyprofile == true) { %>
        <form action="/profile/mypage" method="get">
          <button id="profileEditBtn">프로필 편집</button>
        </form>
        <% } else if(data.isFollow != 0){%>
        <button id="followBtn" onclick="unfollow();">언팔로우</button>
        <% } else { %>
        <button id="followBtn" onclick="follow();">팔로우</button>
        <% } %>
      </div>

      <div id="id" style="display: none;"><%=data.id%></div>
      <div style="display: flex; justify-content: space-around; margin-bottom: 25px;">
        <div>
          <div><span>게시물</span><span style="font-weight: bolder;"> 1</span></div>
        </div>
        <div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#followModal" onclick="followList('following');">
            <div><span>팔로잉</span><span style="font-weight: bolder;"> <%=data.following%></span></div>
          </a>
        </div>
        <div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#followModal" onclick="followList('follower');">
            <div><span>팔로워</span><span style="font-weight: bolder;"> <%=data.follower%></span></div>
          </a>
        </div>
      </div>
      <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 25px;">
        <div id="email"><i class="fa-regular fa-envelope"></i> <%=data.email%></div>

        <% if (data.isMyprofile) { %>
        <div id="logoutDiv">
          <a href="/profile/logout"><button id="logoutBtn" type="button">로그아웃</button></a>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="seperator"></div>
  <!-- 게시글 탭  게시글 본문 -->
  <section class="post-area">
    <div class="tabs">
      <div id="line"></div>
      <a href="/profile">
        <div id="posts"><i class="fa-regular fa-image"></i> POSTS</div>
      </a>
      <button id="bookmarkBtn" type="button" onclick="reset();">
        <div id="saved"><i class="fa-regular fa-bookmark"></i> SAVED</div>
      </button>
    </div>
    <div id="board">
      <h1>게시물</h1>
    </div>
  </section>

  <!-- 게시글 -->
  <div class="container">
    <div class="list"></div>
  </div>
  <div class="more">
    <p class="virtual"></p>
    <div class="square dnone">
      <div class="spin"></div>
    </div>
  </div>

  <!-- 팔로잉 모달 -->
  <div class="modal" id="followModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="follow-title"></h5>
          <button type="button" class="btn-close" style="margin: 0; padding: 0;" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="followList"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" defer src="/static/js/profile.js"></script>

  <!-- 스크립트 -->
  <script>
    let cnt = 0;
    let isBookmark = false;
    let id = $('#id').text();
    const $list = document.querySelector(".list");

    function followList(mode) {
      var modalBody = document.querySelector("#followList");
      var modalTitle = $("#follow-title");
      if (mode == 'following') {
        modalTitle.html("팔로잉 목록")
      } else if (mode == "follower") {
        modalTitle.html("팔로워 목록")
      }
      var data = {
        id: id
      }
      axios({
          url: "/profile/getFollowList",
          method: "get",
          params: data
        })

        .then((response) => {
          var html = '';
          var tmp = document.createElement("div");
          var followMode = response.data[mode];
          for (var i = 0; i < followMode.length; i++) {
            html += `<div style="cursor: pointer">
                      <div class="followUser" onclick="location.href='profile?id=${followMode[i].id}';">
                        <img class="followProfile" src="${followMode[i].profile}" alt="">
                        <span class="userName">${followMode[i].nickName}</span>
                        <span class="userEmail">${followMode[i].email}</span>
                      </div>
                    </div>`;
          }
          modalBody.innerHTML = html;
          // modalBody.appendChild(tmp);
        })
    }

    function follow() {
      var data = {
        id: id
      }
      console.log(id);
      axios({
          url: "/profile/follow",
          method: "post",
          data: data
        })
        .then((response) => {
          window.location.href = `http://localhost:8000/profile?id=${id}`
        })
    }

    function unfollow() {
      var data = {
        id: id
      }
      console.log(id);
      axios({
          url: "/profile/unfollow",
          method: "post",
          data: data
        })
        .then((response) => {
          window.location.href = `http://localhost:8000/profile?id=${id}`
        })
    }

    // window.onload = function() {

    //   axios({
    //       url: "/profile/inpost",
    //       method: "get"

    //     })
    //     .then((response) => {
    //       var img = ``
    //       for (let i = 0; i < response.data.length; i++) {
    //         img += `<img src ="${response.data[i]["Postmedia.src"]}" >`

    //       }
    //       $(".im").append(img);
    //       console.log(response.data);
    //     })

    // }

    // 북마크 검색을 위한 초기화
    function reset() {
      $(".list").empty();
      isBookmark = true;

      // 매 검색마다 무한스크롤 옵저버 초기화
      intersectionObserver.unobserve(document.querySelector(".virtual"));
      cnt = 0;
      $(".list").empty();

      // 새로운 옵저버 선언
      intersectionObserver = new IntersectionObserver(function(entries) {
        if (entries[0].intersectionRatio <= 0) return;
        loadItems(isBookmark);
      });
      // 옵저빙 시작
      intersectionObserver.observe(document.querySelector(".virtual"));
    }

    // Simulate a request to load data and render it to the list element;
    function loadItems(isBookmark) {
      new Promise((resolve) => {
        document.querySelector(".square").classList.remove("dnone");
        setTimeout(async () => {
          let data;
          if (isBookmark) {
            console.log("yes");
            data = await axios.get(`/profile/post?id=${id}&bookmark=yes&cnt=${cnt}`);
          } else {
            console.log("no");
            data = await axios.get(`/profile/post?id=${id}&bookmark=no&cnt=${cnt}`);
          }
          cnt += 1;
          resolve(data.data);
        }, 1000);
      }).then((data) => {
        if (data.code == 200) {
          const html = data.data.map(
            (item) => `<img id="yeah" src="${item.src[0].src}">`
          );
          $list.innerHTML += html.join("");
        } else {
          intersectionObserver.unobserve(document.querySelector(".virtual"));
        }
        document.querySelector(".square").classList.add("dnone");
      });
    }

    let intersectionObserver = new IntersectionObserver(function(entries) {
      // If intersectionRatio is 0, the target is out of view
      // and we do not need to do anything.
      if (entries[0].intersectionRatio <= 0) return;
      loadItems(isBookmark);
    });
    // start observing
    intersectionObserver.observe(document.querySelector(".virtual"));
  </script>
  <script src="../static/js/searchUser.js"></script>
</body>

</html>