<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <%-include('navbar.ejs') %>
  <!-- μƒλ‹¨λ¶€ -->
  <div>
    <img src="<%=data.profile%>" style="width: 200px; height: 200px;">
    <% if (data.isMyprofile == true) { %>
    <form action="/profile/mypage" method="post">
      <button>ν”„λ΅ν•„νΈμ§‘</button>
    </form>
    <% } else if(data.isFollow != 0){%>
    <button onclick="unfollow();">μ–Έν”λ΅μ°</button>
    <% } else { %>
    <button onclick="follow();">ν”λ΅μ°</button>
    <% } %>
    <div id="email"><%=data.email%></div>
    <div id="id" style="display: none;"><%=data.id%></div>
    <div><%=data.nickName %></div>
    <div>
      <div><span>κ²μ‹λ¬Ό</span><span>1</span></div>
    </div>
    <div>
      <div><span>ν”λ΅μ‰</span><span><%=data.following%></span></div>
    </div>
    <div>
      <div><span>ν”λ΅μ›</span><span><%=data.follower%></span></div>
    </div>
  </div>

  <!-- κ²μ‹κΈ€ νƒ­ -->
  <div>
    <div><span>π </span><span>π“</span></div>
  </div>

  <!-- κ²μ‹κΈ€ λ³Έλ¬Έ -->
  <div>

  </div>
  <script>
    function follow() {
      var id = $('#id').text();
      var data = {
        id: id
      }
      console.log(id);
      axios({
          url: "/profile/follow",
          method: "post",
          data: data
        })
        .then((response) => {
          window.location.href = `http://localhost:8000/profile?id=${id}`
        })
    }

    function unfollow() {
      var id = $('#id').text();
      var data = {
        id: id
      }
      console.log(id);
      axios({
          url: "/profile/unfollow",
          method: "post",
          data: data
        })
        .then((response) => {
          window.location.href = `http://localhost:8000/profile?id=${id}`
        })
    }
  </script>
  <script src="../static/js/searchUser.js"></script>
</body>

</html>