<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <div class="signupContainer">
            <div class="title"><img src="/static/image/logo.png"></div>
            <div style="font-size: 13px;">LET US WELCOME YOU</div>
            <form class="form">
                <input class="idInput" name="email" type="email" placeholder="  이메일 또는 전화번호를 입력하세요"><br>
                <input class="nicknameInput" name="nickName" placeholder="  닉네임을 입력하세요"><br>
                <input class="pwInput" name="password" type="password" placeholder="  비밀번호를 입력하세요"><br>
                생년월일:<select name="year" required>
                    <%for(var year=1950; year <=2022; year++){%>
                    <option value="<%=year%>"><%=year%></option>
                        <% }%>
                </select>년
                <select name="month" required>
                    <%for(var month=1; month<=12; month++){%>
                        <option value="<%=month%>"><%=month%></option>
                        <% }%>
                </select>월
                <select name="day" required>
                    <%for(var day=1; day<=32; day++){%>
                        <option value="<%=day%>"><%=day%></option>
                        <% }%>
                </select>일<br><br>
                <button class="signupBtn" type="button" onclick="join()">회원가입</button>
            </form>
            <div class="line"></div>
            <button class="kakaoBtn"><i class="fa-sharp fa-solid fa-comment"></i> 카카오톡 계정으로 로그인</button>
            <div class="registered">이미 ID가 있으신가요? <a href="/login" class="loginLink">로그인</a></div>
        </div>
    </div>


    <script>
        function join(){
            var form = document.querySelector("form");
            var birthday = form.year.value+"-"+form.month.value+"-"+form.day.value;
            
            var data = {
                email: form.email.value,
                nickName: form.nickName.value,
                password: form.password.value,
                birthday
            }

            axios({
                url:"/auth/signup",
                method:"post",
                data : data
            }).then((response)=>{
                console.log(response.data.code);
                if(response.data.code == 200){
                    window.location = "/";
                }
                else{
                    alert("이미 있는 아이디 입니다.");
                }
            })
        }
    </script>
</body>
</html>